[submodule "web/app/themes/simplicity2"]
	path = web/app/themes/simplicity2
	url = https://github.com/yhira/simplicity2.git
[submodule "web/app/plugins/staticpress-s3"]
	path = web/app/plugins/staticpress-s3
	url = https://github.com/megumiteam/staticpress-s3.git
