[submodule "web/app/themes/simplicity2"]
	path = web/app/themes/simplicity2
	url = https://github.com/yhira/simplicity2.git
[submodule "web/app/plugins/staticpress2019-s3"]
	path = web/app/plugins/staticpress2019-s3
	url = https://github.com/yukihiko-shinoda/staticpress2019-s3.git
[submodule "web/app/themes/cocoon-master"]
	path = web/app/themes/cocoon-master
	url = https://github.com/yukihiko-shinoda/cocoon.git
[submodule "web/app/themes/cocoon-child-master"]
	path = web/app/themes/cocoon-child-master
	url = https://github.com/yhira/cocoon-child.git
